//! **************************************************************************
// Written by: Map P.20131013 on Thu Apr 07 17:45:30 2022
//! **************************************************************************

SCHEMATIC START;
COMP "AMP_CS" LOCATE = SITE "N7" LEVEL 1;
COMP "DAC_CS" LOCATE = SITE "N8" LEVEL 1;
COMP "PS2_Clk" LOCATE = SITE "G14" LEVEL 1;
COMP "PS2_Data" LOCATE = SITE "G13" LEVEL 1;
COMP "SPI_SCK" LOCATE = SITE "U16" LEVEL 1;
COMP "SF_CE0" LOCATE = SITE "D16" LEVEL 1;
COMP "SPI_SS_B" LOCATE = SITE "U3" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "N10" LEVEL 1;
COMP "AD_CONV" LOCATE = SITE "P11" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "T4" LEVEL 1;
COMP "DAC_CLR" LOCATE = SITE "P8" LEVEL 1;
COMP "Clk" LOCATE = SITE "C9" LEVEL 1;
COMP "FPGA_INIT_B" LOCATE = SITE "T3" LEVEL 1;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "Clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

