//! **************************************************************************
// Written by: Map P.20131013 on Thu May 12 17:52:38 2022
//! **************************************************************************

SCHEMATIC START;
COMP "SPI_SCK" LOCATE = SITE "U16" LEVEL 1;
COMP "Clk" LOCATE = SITE "C9" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "N10" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "T4" LEVEL 1;
COMP "SPI_SS_B" LOCATE = SITE "U3" LEVEL 1;
COMP "VGA_B" LOCATE = SITE "G15" LEVEL 1;
COMP "VGA_G" LOCATE = SITE "H15" LEVEL 1;
COMP "VGA_R" LOCATE = SITE "H14" LEVEL 1;
COMP "DAC_CS" LOCATE = SITE "N8" LEVEL 1;
COMP "AMP_CS" LOCATE = SITE "N7" LEVEL 1;
COMP "SF_CE0" LOCATE = SITE "D16" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "F15" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "F14" LEVEL 1;
COMP "DAC_CLR" LOCATE = SITE "P8" LEVEL 1;
COMP "AD_CONV" LOCATE = SITE "P11" LEVEL 1;
COMP "FPGA_INIT_B" LOCATE = SITE "T3" LEVEL 1;
COMP "PS2_Data" LOCATE = SITE "G13" LEVEL 1;
COMP "PS2_Clk" LOCATE = SITE "G14" LEVEL 1;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "Clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

